html {
	/*background-color: #9DEAE2;*/
	background-color: #EAD7D7;
}
body {
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
}
#about, #ed, #work, #projects{
	font-family: Verdana, sans-serif;
	color: #412234;
	overflow: hidden;
	padding: 1%;
	border-bottom: 10px solid #EAD7D7;
}

#about {
	margin-top: 5%;
}
#about img { 
	border-radius: 20px;
	float: left;
	margin: 2%;
}
h2 {
	padding-bottom: 3%;
	text-align: center;
}
p {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}
#about p {
	padding-left: 25%;
}
#about_main {
	width: 50%;
	display: inline-block;
}

#about_sidebar {
	width: 30%;
	position: relative;
	bottom: 50px;
	padding-right: 10%;
	float: right;
}

fieldset {
	margin: 1%;
	border: 1px solid #9EA3B0;
	border-radius: 10px;
}
#projects fieldset p {
	text-align: left;
}
legend {
	background-color: #ffffff;
	border: 1px solid #9EA3B0;
	border-radius: 10px;
	padding: 5px;
	text-transform: uppercase;
}

ul {
	list-style-type: circle;
}

table {
	padding: 10px;
	margin: 10px;
	text-align: left;
}

th {
	border-top: 1px solid #9EA3B0;
	border-bottom: 2px solid #9EA3B0;
}

th, td {
	width: 350px;
	height: 75px;
}
.rowHover:hover {
	background-color: #B49FCC;
}
.even {
	background-color: #efefef;
}
#about fieldset {
	background-color: #EAD7D7; 
	border: 1px solid #EAD7D7;
}
#about th, td{
	padding: 1%;
	border-top: 1px solid #ffffff;
	border-bottom: none;
	width: 250px;
	height: 35px;
}